/*Folha de estilo de site*/

body {
    font-family: sans-serif;
    font-size: 16px;
    background-color: #ffc;

}

.primeira-img {
  width: 300px;
  height: auto;
  display: block;
  margin: auto;

}